<div class="foreground" #main
     style=
       "min-height: 100vh;
        display: flex;
        flex-direction: column;">
  <div class="display">
    <app-header id="header" class="foreground">
    </app-header>
    @if(isMobile){
      <div class="border16px" style="padding-top: 2em; height: fit-content; width: 100vw;">
        <div style="justify-self: center; align-content: center">
          <p>
            It seems like you are on a mobile device.
          </p>
          <p>
            This page is optimized for desktop only and will currently not display correctly.
          </p>
          <p>
            I am currently working on a mobile version of this webpage.
          </p>
          <p>
            Until then, please, use a desktop to visit.
          </p>
        </div>
      </div>
    }
    @if(!isMobile){
      <app-page-content class="foreground paddingBottom2em"
                        style="background-image: url('assets/bayernStreetNet.jpeg'); background-repeat: no-repeat; background-size: cover; background-position-y: center; background-position-x: center">
      </app-page-content>
    }
    <app-footer class="paddingTop2em">
    </app-footer>
  </div>
</div>
