
#headerBox{
  font-family: 'gagalin';
  border :var(--cobalt-blue-highlight);
  height: fit-content;
  max-height: 350px;
  background-color: var(--white);
  justify-items: center;
}

#headerBox{
  border-width: .3em;
  border-style: groove;
}

#headerImg{
  margin-top: -3;
  margin-left: -5 !important;
  position: absolute;
  top: 0;
  left: 0;

}

.container{
  display: flex;
  flex-direction: row;
}

#titleContent{
    padding-top: 4em;
    padding-bottom: 1em;
}

#title{
  display: flex;
  flex-flow: column;
  align-items: center;
}

#mainTitle{
    font-size: 6vh;
}

#subTitle{
    padding-bottom: 1em;
    font-size: 3vh;
}

.navTxt{
    padding-top: 1em;
    padding-left: .5em;
    color: var(--cobalt-blue-highlight);
    font-size: 3vh;
}

.navTxt:hover{
    color: var(--razzmat-highlight);
}

.navTxt:link, .navTxt:visited{
    color: var(--cobalt-blue-highlight);
    text-decoration: none;
}

img {
  height: inherit;
}
