/* You can add global styles to this file, and also import other style files */
/* Color Scheme */
:root{
  --razzmat-highlight:#DB3069;
  --cobalt-blue-highlight : #1446A0;
  --beige: #EBEBD3;
  --onyx: #3C3C3B;
  --naples-yellow-highlight: #F5D547;
  --white: #ffffff;
  --border-radius: 15px;
  --decoration-thickness: 3px;
  --backdrop-opacity: .5;
  --map-grid-rows: 24;
  --map-grid-cols: 18;
}
/* ------------ */

/* ------------ Global styles ------------ */

h3, h1 {
  font-family: 'gagalin', serif;
}

.w100 {
  width: 100%
}

.h100 {
  height: 100% !important;
}

.h250px {
  max-height: 250px !important;
  min-height: 250px !important;
}

.flexRow {
  display: flex !important;
  flex-direction: row !important;
}

.flexColumn {
  display: flex !important;
  flex-direction: column !important;
}

.subText {
  font-size: x-large;
  margin: 1em;
  color: var(--onyx);
}

.txtXLarge{
  font-size: x-large;
}

.marginSides16{
  margin-left: 16px;
  margin-right: 16px
}

.marginTop32 {
  margin-top:32px
}

.marginBottom8{
  margin-bottom: 8px;
}
.w150px {
  width: 150px;
}

.justify-text{
  text-align: justify;
}

.lato{
  font-family: 'lato-bold', serif;
}

.latoThin{
  font-family: 'lato-thin', serif;
}

.gagalin {
  font-family: gagalin, serif;
}

.latoBoldItalic {
  font-family: 'lato-bold-italic';
}

.scroller {
  overflow-y: auto;
  scrollbar-color: var(--razzmat-highlight) var(--white);
}

.box{
  border: .3em;
  border-style: groove;
  border-radius: 15px;
  border-color: var(--cobalt-blue-highlight);
  margin: .5em;
}

.box{
  background-color: var(--white);
}

.h25 {
  max-height:25px !important;
  min-height:25px !important;
}

.h50 {
  max-height:50px !important;
  min-height:50px !important;
}

.h800{
  max-height:800px;
  min-height:800px;
}

.whiteBg {
  background-color: var(--white);
}

.transparent50 {
  opacity: .5;
}

.transparent100{
  opacity: 0;
}

.beigeBg100{
  background-color: var(--beige);
}

.transparentWhite {
  background-color: rgba(255,255,255, .95);
}

.hoverHighlight:hover {
  background-color: var(--razzmat-highlight);
}

.visited:visited {
  color: var(--onyx)
}

.transparentOnyx {
  background-color: rgba(60,60,59, .4);

}

.onyxBorder {
  border-color: var(--onyx)
}

.noBorderColor {
  border-color: transparent !important;
}

.centerSelf {
  align-self: center;
  justify-self: center;
}

.centerSelf {
  align-items: center;
  justify-items: center;
}

.lineSpacing15{
  line-height: 1.5
}

.paddingL1em {
  padding-left: 1em;
}

.paddingBottom2em {
  padding-bottom: 2em;
}

.paddingTop2em{
  padding-top: 2em;
}
.w90 {
  width: 90%
}

.w80{
  width: 80%
}

.border16px {
  border-radius: 16px;
}

a {
  font-family: lato-bold-italic;
  color: var(--cobalt-blue-highlight)
}

a:hover{
  color: var(--razzmat-highlight)
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}


.mainHeader{
  font-family: gagalin, serif;
  color: var(--razzmat-highlight);
  justify-self: center
}

/* -------------- Levels -------------------*/
/* The z-index level an element is at. The element needs a position for z-index to apply.*/

.foreground{
    z-index: 1000;
}

.background{
    z-index: 0;
}

/* Main font for headers and titles - Copyright © 2015 by Iordanis Passas. All rights reserved. Commercial and private use allowed */
@font-face {
    font-family: 'gagalin';
    src: url('assets/fonts/Gagalin/Gagalin-Regular.otf');
}

/* Text fonts */
@font-face{
    font-family: 'oldStandard-bold';
    src: url('assets/fonts/Old_Standard_TT/OldStandardTT-Bold.ttf');
}

@font-face{
    font-family: 'oldStandard-italic';
    src: url('assets/fonts/Old_Standard_TT/OldStandardTT-Italic.ttf')
}

@font-face{
    font-family: 'oldStandard-regular';
    src:url('assets/fonts/Old_Standard_TT/OldStandardTT-Regular.ttf')
}

@font-face{
  font-family: 'lato-black';
  src:url('assets/fonts/Lato/Lato-Black.ttf')
}


@font-face{
  font-family: 'lato-black-italic';
  src:url('assets/fonts/Lato/Lato-BlackItalic.ttf')
}


@font-face{
  font-family: 'lato-bold';
  src:url('assets/fonts/Lato/Lato-Bold.ttf')
}


@font-face{
  font-family: 'lato-bold-italic';
  src:url('assets/fonts/Lato/Lato-BoldItalic.ttf')
}


@font-face{
  font-family: 'lato-thin';
  src:url('assets/fonts/Lato/Lato-Thin.ttf')
}

@font-face{
  font-family: 'lato-regular';
  src:url('assets/fonts/Lato/Lato-Regular.ttf')
}
