button {
  border: none;
  background-color: var(--cobalt-blue-highlight);
  color: var(--beige);
  border-radius: 5px;
  align-self: center;
  justify-self: center;
}

button:hover {
  background-color: var(--razzmat-highlight)
}
