div>div>div {
  display: flex;
  flex-direction: row;
  min-width: 100px;
  width: fit-content;
  overflow-x: auto;
}

div {
  margin: 0 !important;
}

#title {
  font-family: 'gagalin', serif;
  font-size: large;
  color: var(--onyx);
  margin-top : 4px;
  margin-bottom: 4px;
}

.container {
  padding: 8px;
}
