<div id="container" class="transparentWhite border16px paddingL1em h760" style="overflow-x: hidden" animate.enter="fade-in"
     animate.leave="fade-out" (animationend)="animationEnded = true">
  @if (this.detail) {
    <div id="detail">
      <div class="rowContainer">
        <div class="fit" style="grid-row:1; grid-column: 1">Organization:</div>
        @if (this.detail.organization) {
          <div class="fit" style="grid-row:1; grid-column: 2"
          >{{ this.detail ? this.detail.organization : "" }}
          </div>
        }
        <div class="fit" style="grid-row:2; grid-column: 1">From - To:</div>
        @if (this.detail.date) {
          <div class="fit" style="grid-row: 2; grid-column: 2"
          >{{ this.detail ? this.detail.date : "" }}
          </div>
        }
      </div>
    </div>
  }
  <div class="txtElements">
    @if (icon) {
      <div class="subtitleElem">
        <img src="{{ this.icon }}" title="subThemeIcon" id="icon" style="float: left"/>
      </div>
    }
    <div class="latoThin">
      {{ this.curTxt ? this.curTxt : "" }}
    </div>
  </div>
  @if (txtElements) {
    @for (elem of txtElements; track elem) {
      <div style="display: flex; flex-direction:column; justify-content: center">
        @if (elem.title) {
          <div class="txtElements whiteOnyx gagalin txtAlign txtXLarge border16px marginSides16 marginBottom8 marginTop32">
            <b>{{ elem.title }}</b>
          </div>
        }
        @switch (elem.type) {
          @case ('text') {
            <p class="txtElements lato lineSpacing15 marginSides16">
              {{ elem.elements[0] }}
            </p>
          }
          @case ('list') {
            @for (listElem of elem.elements; track listElem) {
              <ul>
                @if (elem.options && elem.options.elementLinks) {
                  <a href="{{elem.options!.elementLinks![listElem]}}" target="_blank" rel="noopener noreferrer"
                     class="visited">
                    <li class="listElement latoBoldItalic lineSpacing15 marginSides16">
                      {{ listElem }}
                    </li>
                  </a>
                } @else {
                  <li class="listElement latoBoldItalic lineSpacing15 marginSides16">
                    {{ listElem }}
                  </li>
                }
              </ul>
            }
          }
          @case ('embed') {
            <iframe class='w80 height250 marginSides16 centerSelf' [src]='safeUrl'
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          }
          @case ('img') {
            @if (elem.options && elem.options.link) {
              <ng-container style="justify-self: center">
                <a href="{{ elem.options.link }}" target="_blank" rel="noopener noreferrer">
                  <img src="{{elem.elements[0]}}" alt="{{elem.title}} - image with link" class="height250 marginSides16 centerSelf"/>
                </a>
              </ng-container>
            } @else {
              <img src="{{elem.elements[0]}}" alt="{{elem.title}} - image with link" class="height250 marginSides16 centerSelf"/>
            }
          }
          @case ('logo') {
            <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content: space-around">
              @for (logo of elem.elements; track logo) {
                <div
                  style="justify-self: center; align-self: center; width:fit-content; height: fit-content; padding: 1em">
                  @if (elem.options && elem.options?.elementLinks) {
                    <a href="elem.options.elementLinks![logo]" target="_blank" rel="noopener noreferrer" class="marginSides16">
                      <img [src]="logo" alt="{{logo}} - logo of tech stack" style="width: auto; height: 48px"/>
                    </a>
                  } @else {
                    <img [src]="logo" alt="{{logo}} - logo of tech stack" class="marginSides16" style="width: auto; height: 48px"/>
                  }
                </div>
              }
            </div>
          }
        }
      </div>
    }
  }
</div>
<div id="arrows">
  <div id="leftArrow" style="flex-grow: 100" (click)="emitNavigate('previous')">
    <img src="assets/arrow-left-circle.svg" alt="left arrow icon"
         style="float:left;padding-left: 1em; padding-top:8px; height:50%; width: auto"/>
  </div>
  <div id="rightArrow" style="flex-grow: 100" (click)="emitNavigate('next')">
    <img src="assets/arrow-right-circle.svg" alt="left arrow icon"
         style="float:right; padding-right: 1em; padding-top:8px; height: 50%; width:auto"/>
  </div>
</div>
