button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 12em;
  height: 4em;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border-color: var(--white)
}

.interactionArea {
  position:relative;
  height:100%;
  width: 50%;
}

h1 {
  font-family: gagalin, serif;
  color: var(--cobalt-blue-highlight);
}

h1:hover {
  color: var(--razzmat-highlight);
}
