#projectContainer {
  display:flex;
  flex-direction: row;
  margin: 1em;
}

.mapContainer {
  position:relative;
  height: fit-content !important;
  flex-grow: 1;
  justify-self: center;
}

#multiButton {
  position: absolute;
  bottom: 0;
  left: 16px;
}

#mapHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#legend {
  display: block;
  float: left;
}

#info {
  display: block;
  float: right;
  flex-grow: 100;
}

#outletColumn{
  position:relative;
  max-width: 60%;
  min-width: 60%;
  max-height: 720px;
}

.map {
  display: grid;
  grid-template-columns: repeat(var(--map-grid-cols), 1fr);
  grid-template-rows: repeat(var(--map-grid-rows), 1fr);
  height: 80%;
  overflow-y: auto;
  background-color: transparent !important;
  margin: 0 !important;

}

.backgroundNode, .element-node{
  width: 30px;
  height: 30px;
  position: relative;
}

.appearAnimation {
  animation-duration: 10s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 0;
}

@keyframes fadeIn {
  from {
    width: 0;
  }

  to {
    width: 60%;
  }
}

.hori-line {
  border-top: 5px solid var(--onyx);
  position: relative;
  top: 50%;
}

.right-text, .left-text, .top-text, .bottom-text {
  font-family: 'gagalin', serif;
}

.right-text, .left-text {
  position: absolute;
}

.right-text {
  left: 100%;
  padding-left: 8px;
}

.left-text {
  right: 100%;
  padding-right: 8px;
}

.verti-line {
  border-left: 5px solid var(--onyx);
  position: relative;
  left: 50%;
  height: inherit;
}

.top-text, .bottom-text {
  position: absolute;
}

.top-text {
  bottom: 100%;
  transform-origin: bottom left;
}

.bottom-text {
  right: 100%;
  top: 100%;
  transform-origin: top right;
}

.verti-text, .hori-text{
  font-family: gagalin,serif;
  font-size: large;
  padding-left: 10px;
}

.graphic-node-content {
  text-align: center;
  justify-self: center;
}

.centerAlign {
  display: flex;
  justify-content: center;
}

.alignText {
  text-align: center;
  vertical-align: center;
}

.stationBox {
  border-color: var(--onyx);
}

.stationBox , .circle, .elipsis{
  background-color: var(--white);
  border: 5px solid var(--onyx);
}

.circle{
  border-radius: 50%;
}

.elipsis{
  height: 30%;
  width: 100%;
  border-radius: 50%;
}

.stationBox{
  width: 100%;
  height: 100%;
}
.circle {
  width:50%;
  height: 50%
}
