<div class="foreground"
  style="display: flex; align-items: center;justify-content: center;flex-direction: column;position: sticky; top: 50%; left: 0; width: 128px; height: 100%;"
  >
  <div (click)="onArrowNavigation()" style="">
    @if (arrowdown) {
      <div>
        <img src="assets/arrow-down-circle.svg" alt="navigate down on arrow" style="width: 48px; height: auto"/>
      </div>
    }
    @if (!arrowdown) {
      <div>
        <img src="assets/arrow-up-circle.svg" alt="navigate up on arrow"
          style="width: 48px; height: auto"/>
      </div>
    }
  </div>
  <app-user-info
    [txts]="['Click any station marker on the cartogram to see a detailed description the individual projects.']"
    >
  </app-user-info>
</div>
<div #landing class="centerSelf" style="display: flex; flex-direction: column">
  <div class="transparentWhite noBorderColor border16px centerSelf w80 paddingBottom2em" (mouseenter)="onLeave()">
    <!--Not pretty putting on leave here but will do for now-->
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <div style="overflow: hidden; height: 100%; align-content: center; margin: 1em; align-self: center;" class="border16px">
        <img #profilePic src="assets/header_image.jpg" width="300" id="headerImg"
          style="object-fit: contain; align-self:center"/>
      </div>
      <div
        style="width:60%;
    justify-self: center;
    line-height: 1.5;
    flex-grow: 2"
        class="foreground scroller justify-text"
        >
        <p class="subText lato" style="text-align: center">
          Welcome to my portfolio page. This page gives you an overview of the projects I have been involved in. My work
          has been structured along the lines of three major domains:
        </p>
        <p class="subText"
          style="font-family: gagalin, Serif; font-size: xx-large; text-transform: uppercase ;color: var(--razzmat-highlight); text-justify: inter-word; text-align: center">
          Mobility, privacy, and software development
        </p>
        <app-switching-text
          [textArr]="['My current professional projects span from test automatization to mobile phone sensor data collection for deep learning applications.', 'I am working at the intersections of mobility and privacy to overcome social, administrative, and technical hurdles.', 'In my master thesis, I worked on data generation methods for IMU data utilizing stochastic models, going beyond the standard approach of deep learning methods for data generation.']"
          >
        </app-switching-text>
      </div>
    </div>

  </div>
  <div #projectMap id="projectContainer" (mouseenter)="mouseEnter()"
    class="w80 centerSelf h800 paddingTop2em">
    <div class="mapContainer" id="mapContainer" style="margin-right: 1em">
      <div id="mapHeader">
        <app-map-legend id="legend"
          [_title]="'Project types'"
          [entries]="this.LEGENDENTRIES">
        </app-map-legend>
      </div>
      <div #map class="map box h800">
        @if (graphicNodes) {
          @for (graphicNode of graphicNodes; track graphicNode) {
            <div #nodes
              id="nodes"
              class="backgroundNode"
              [style]="graphicNode.styles"
              title="{{graphicNode.id}}"
              (mousedown)="onMouseDown($event)"
              (mouseenter)="assignHoverColor(graphicNode)"
              (mouseleave)="removeHover(graphicNode.id)">
              @if (graphicNode.shape) {
                <div class="element-node"
                  >
                  <ng-container #graphicElement>
                    @switch (graphicNode.shape.form) {
                      @case ('box') {
                        <div #box id="{{graphicNode.id}}" class="stationBox foreground"
                          [style.background-color]="this.colored === graphicNode.id ? this.SELECTIONCOLOR : undefined"
                          >
                          <!--Box does not allow rotation-->
                        </div>
                      }
                      @default {
                        <div></div>
                      }
                    }
                  </ng-container>
                  <ng-container #textElement>
                    @switch (graphicNode.shape.textPosition) {
                      @case ('right') {
                        <div class="right-text">
                          {{ graphicNode.name }}
                        </div>
                      }
                      @case ('left') {
                        <ng-container class="left-text">
                          <div>
                            {{ graphicNode.name }}
                          </div>
                        </ng-container>
                      }
                      @case ('top') {
                        <div class="top-text">
                          {{ graphicNode.name }}
                        </div>
                      }
                      @case ('bottom') {
                        <div class="bottom-text">
                          {{ graphicNode.name }}
                        </div>
                      }
                    }
                  </ng-container>
                </div>
              } @else {
              <!--div class="element-node"></div-->
              <span class="element-node"></span>
            }
          </div>
        }
      }
    </div>
    <div>
      <app-canva-background class="background">
      </app-canva-background>
    </div>
  </div>
  @if (_outletIsExpanded) {
    <div id="outletColumn" [class.expanded]="outletIsExpanded" class="h800">
      <router-outlet
        (activate)="onRouterOutletActivate($event)"
        >
      </router-outlet>
      <div class="centerSelf">
      </div>
    </div>
  }
</div>
</div>
<div #floatingLogo style="padding-top: 32px; width:80%; margin-left: 10%">
  <app-floating-logos
    [logos]='["assets/logos/Typescript_logo_2020.png", "assets/logos/angularGradient.png","assets/logos/Csharp_Logo.png", "assets/logos/maui.webp", "assets/logos/PowerShell_5.0_icon.png", "assets/logos/Python.png","assets/logos/GitIcon1788C.png", "assets/logos/jenkins.png"]'>
  </app-floating-logos>

</div>
