<div (mouseenter)="killSubscription()" (mouseleave)="startSubscription()" class="flexColumn w100">
  <div class="h250px">
    <div style="text-align: center;"
      id="textElem"
      >
      <p>
        {{this.curText}}
      </p>
    </div>
  </div>
  <div class="flexRow w100 h25" style="padding-top: 16px">
    @for (i of this.textArr; track i) {
      <div (click)="selectText(i)"
        #bullets
        class="bullet marginSides16 border16px h25"
        style="border: .3em groove"
        [style.background-color]="selected === this.textArr!.indexOf(i) ? selectedColor : unSelectedColor"
        [style.border-color]="selected === this.textArr!.indexOf(i) ? selectedColor : unSelectedColor"
      ></div>
    }
  </div>
</div>
