div {
  display: flex;
  flex-direction: row;
  min-height: 300px;
}

div > div {
  flex-wrap: nowrap;
  justify-content: center;
}

div > div > div {
  align-self: center;
}

#leftArrow, #rightArrow {
  max-height: 64px;
  justify-content: center;
  align-content: center;
  margin: 32px;
}

#leftArrow:hover, #rightArrow:hover {
  color: var(--razzmat-highlight)
}

#textElem {
  flex-grow: 2;
  text-align: justify;
  max-width: 70%;
}

p {
  margin: 16px;
  font-family: lato-bold,Serif;
  font-size: x-large;
  align-self: center;
  line-height: 1.5;
  color: var(--onyx)
}

.bullet {
  height: 16px;
  width: 32px;
  border-width: 8px;
  border-color: var(--razzmat-highlight);
  border-radius: 20%;
  background-color: var(--beige);
}
